@import "../functions";
@import "../variables";

$new-primary: rgb(242 242 242); //testo
$new-secondary: rgb(30 215 96); //bottone play
$new-dark: rgb(05, 05, 05); //bottone salva

$new-theme-colors: (
  "primary": $new-primary,
  "secondary": $new-secondary,
  "warning": $new-dark,
);

@mixin buttons {
  width: 80px;
  height: 40px;
  border-top-left-radius: 50px !important;
  border-top-right-radius: 50px !important;
  border-bottom-left-radius: 50px !important;
  border-bottom-right-radius: 50px !important;
  font-size: 0.8em !important;
  font-weight: 700 !important;
}

#play-button {
  @include buttons;
  background-color: $new-secondary;
}
#save-button {
  @include buttons;
  background-color: $new-dark;
  color: $new-primary;
  border: 0.3px solid $new-primary;
}
#following-button {
  background-color: $new-dark;
  color: $new-primary;
  border-radius: 0;
  border: 0.3px solid $new-primary;
  width: 120px;
  height: 35px;
  padding-top: 0.3em !important;
}

$theme-colors: map-merge($theme-colors, $new-theme-colors);
@import "../bootstrap.scss";
